
<div class="row">
      <div class="col-3"></div>
      
      <div class="col-6" style="padding-bottom: 10px;background-color: rgb(233, 233, 233);">

            <h1><a id="About_This_Project_4"></a> About Us</h1>
            <hr>
            <p>
                  Our mission is to encourage and respect the animal- human bond while anticipating and providing
                  services that insure
                  public health and safety through the proper promotion of animal welfare. We seek to fulfill our
                  mission through
                  proactive animal-control enforcement, quality education in recognizing and preventing animal cruelty,
                  and the enactment
                  of progressive humane initiatives to relieve animal suffering. We also provide care and placement for
                  unwanted animals
                  through quality adoptions, licensed rescue, foster programs and transport programs.
            </p>

      </div>

      <div class="col-2"></div>

</div>
