<div class="heading">
      <!-- <div class="col-sm-10 my-auto" style="padding-bottom: 30px;"> -->

      <h1>About Us</h1>
      <p>
            Our mission is to encourage and respect the animal- human bond while anticipating and providing
            services that insure public health and safety through the proper promotion of animal welfare.
      </p>
</div>

<!-- </div> -->
<div class="container">
      <section class="about">
            <div class="about-image">
                  <img
                        src="https://www.wickedlocal.com/gcdn/authoring/2016/05/16/NWKL/ghows-WL-3169a19b-1d6f-3322-e053-0100007f05ab-652309bc.jpeg">
            </div>
            <div class="about-content">
                  <h2> Learn more about our mission </h2>
                  <p> We are all animal lovers. We seek to fulfill our mission through proactive animal-control
                        enforcement, quality education in recognizing and preventing animal
                        cruelty, and the enactment of progressive humane initiatives to relieve animal suffering. We
                        also provide care and placement for unwanted animals
                        through quality adoptions, licensed rescue, foster programs and transport programs.</p>
                  <a href="" class="read-more">Read More</a>
            </div>
      </section>
</div>